@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
header {
  width: 100%;
  text-align: center;
  font-size: 90px;
  font-family: "Akronim", cursive;
}
.head{
  color: white;
  background-color: rgb(26, 23, 23);
}
nav {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgb(8, 5, 12);
  width: 100%;
  height: 50px;
}
.show-btn,
.hide-btn {
  font-size: 35px;
  position: absolute;
  left: 0px;
}
.hide-btn {
  opacity: 0;
}
#chk {
  visibility: hidden;
}
#chk:checked ~ .sidebar {
  top: 50px;
  left: 0;
}
#chk:checked ~ .show-btn {
  opacity: 0;
}
#chk:checked ~ .hide-btn {
  opacity: 1;
}
#chk:checked ~ .navbar li a {
  display: none;
}
.sidebar {
  width: 20%;
  background-color: black;
  position: absolute;
  top: 0px;
  height: 100vh;
  left: -100%;
  transition: 0.4s;
}
.sidebar ul li {
  border-bottom: 2px solid grey;
}
.sidebar ul li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 15px 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  text-decoration: none;
}
.show-btn,.hide-btn{
    color: white;
    left: 20px;
}
a i {
  margin-right: 20px;
}
.sidebar ul li a:hover {
  border-left: 5px solid white;
  color: goldenrod;
}
.navbar {
  position: sticky;
  line-height: 35px;
  float: left;
  margin-left: 50px;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  margin: 0 25px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.navbar li a:hover {
  color: goldenrod;
}
form {
  line-height: 50px;
  display: inline-block;
  float: right;
}
.searchField {
  border: 0;
  border-radius: 5px;
  height: 33px;
}

.searchField {
  border: 2px solid grey;
  border-radius: 5px;
  height: 35px;
  width: 200px;
}
.searchField:active {
  border: 2px solid white;
}
.btn {
  background-color: black;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
}
.btn:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  opacity: 0.7;
}
.carousel {
 position: relative;
 padding:0 200px;
}
.sports{
  border: 2px solid red;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.card{
  display: flex;
}
.footer {
  position: relative;
  padding: 60px 0 0 0;
  background: #111111;
}

.footer .footer-widget {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.footer .footer-widget .title {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 3px double #ffffff;
}
.footer .footer-widget p {
  color: #ffffff;
}

.footer .footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-widget ul li {
  margin-bottom: 12px; 
}

.footer .footer-widget ul li a {
  color: #ffffff;
  white-space: nowrap;
  display: block;
  line-height: 23px;
}

.footer .footer-widget ul li a::before {
  content: '\f061';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
  padding-left: 10px;
  color: goldenrod;
  text-decoration: none;
}
.footer .contact-info p {
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
}

.footer .contact-info p i {
  color: white;
  margin-right: 5px;
}

.footer .social {
  position: relative;
  width: 100%;
}

.footer .social a {
  display: inline-block;
  margin: 10px 5px 0 0;
  width: 35px;
  height: 35px;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  color: white;
  border-radius: 4px;
}
.footer .social a i {
  color: white;
}

.footer-menu {
  position: relative;
  background: #111111;
}

.footer-menu .container {
  padding: 15px 0;
  border-top: 1px solid #000000;
}

.footer-menu .f-menu {
  font-size: 0;
  text-align: center;
}

.footer-menu .f-menu a {
  color: #ffffff;
  font-size: 14px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #ffffff;
}
.footer-bottom {
  position: relative;
  padding: 25px 0;
  background: #000000;
}
@media (max-width:750px) {
  .navbar{
    display: none;
  }
  .sidebar{
    width: 35%;
  }
  .carousel{
    padding: 2%;
  }
  
}
